avisos.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="Tabla_Avisos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Aviso">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Titulo" type="xs:string"/>
			<xs:element name="Fecha" type="xs:string"/>
			<xs:element name="Importancia" type="xs:string"/>
			<xs:element name="Descripcion" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>
	
